<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>My Blog</title>
  <link rel="stylesheet" href="/static/style.css" />

</head>
<body>

  <nav>
    <h1>📚 BlogCentral</h1>
    <ul>
      <li>Home</li>
      <li>Categories</li>
      <li>About</li>
    </ul>
  </nav>

  <div class="container">
    <div class="card">
      <h2>{{ blog.name}}</h2>
      <p>
       {{blog.content}}.
      </p>
      <div class="author">{{blog.author_name}}</div>
    </div>

    <div class="card">
      <h2>The Art of Backend</h2>
      <p>
        Explore the magic behind FastAPI, SQLModel and templating with Jinja2. Perfect for data-driven web apps.
      </p>
      <div class="author">by Pranjal</div>
    </div>

    <!-- Add more cards dynamically -->
  </div>

</body>
</html>